.carrossel__titulo {
  color: var(--amarelo);
  background-color: var(--branco);
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  padding-top: 1em
}

.swiper-slide {
  border: 2px solid var(--cinza);
  border-radius: 5px;
  padding: 0.3em;
}

.categoria-tabela {
  font-size: 12px;
  font-weight: 700;
  border-bottom: 1px solid var(--cinza);
  padding-bottom: 0.5em;
  text-align: center
}

.mandante {
  border-bottom: 1px solid var(--cinza);
}

.mandante, .visitante {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding: 0.5em
}

.swiper-pagination {
  position: initial;
  margin: 1.5em 0;
}

.swiper-button-prev, .swiper-button-next {
  display: none
}

@media screen and (min-width: 1440px) {
  .carrossel__titulo {
    font-size: 36px;
    padding-top: 3em;
  }

  .swiper {
    width: 60%
  }

  .categoria-tabela {
    font-size: 16px;
  }

  .mandante, .visitante {
    font-size: 16px;
    padding: 0.5em
  }
}