.carrossel__titulo {
  color: var(--amarelo);
  background-color: var(--branco);
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  padding: 1em 0 00 0
}

.swiper-slide {
  border: 1px solid var(--cinza);
  border-radius: 5px;
  padding: 0.3em;
}

.categoria-tabela {
  font-size: 12px;
  font-weight: 700;
  border-bottom: 1px solid var(--cinza);
  padding-bottom: 0.5em;
  text-align: center
}

.mandante {
  border-bottom: 1px solid var(--cinza);
}

.mandante, .visitante {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding: 0.5em
}

.swiper-pagination {
  position: initial;
  margin: 1.5em 0;
}

.swiper-button-prev, .swiper-button-next {
  display: none
}